

* {
  outline: 1px solid rgba(255, 0, 0, 0.5);
}
  

body{
    background-color: white; 
    margin: 0;
}

.inria-sans-light {
    font-family: "Inria Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .inria-sans-regular {
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .inria-sans-bold {
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .inria-sans-light-italic {
    font-family: "Inria Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .inria-sans-regular-italic {
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .inria-sans-bold-italic {
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  

  h1 {
    font-family: "Inria Sans", system-ui;
    font-style: normal;
    font-size: 8vw;
    background-color: rgb(74, 180, 194);
    margin: 0;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    padding-left:0.5vw;
    padding-right:0.5vw;

}

h2 {
  font-family: "Inria Sans", system-ui;
  font-style: normal;
  font-size: 4.5vw;
  background-color: rgb(74, 180, 194);
  margin: 0;
  padding: 0.5vw;

}

p{
  font-family: "Inria Sans", system-ui;
  font-style: normal;
  margin: 0;
  font-size: 2vw;


}

.title1 {
  background-color: rgba(74, 180, 194, 0.5);
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  padding-right: 1.5vw;
}

.title2 {
  background-color: rgba(74, 180, 194, 0.5);
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  padding-left: 1.5vw;
}

.title3 {
  background-color: rgba(74, 180, 194, 0.5);
  padding-top: 1.5vw;
  padding-right: 1.5vw;

}

.title4 {
  background-color: rgba(74, 180, 194, 0.5);
  padding-top: 1.5vw;
  padding-left: 1.5vw;

}


.text.right{
  margin-right: 25vw;
  text-align: right;
  padding-top:8vw;
  padding-left:12vw;
  padding-bottom:20vw;
}


.text.left{
  margin-left: 25vw;
  text-align: left;
  padding-top:8vw;
  padding-right:12vw;
  padding-bottom:20vw;
}



.bottomline {
  background-color: rgb(74, 180, 194);
  width: 100%;
  height: 1.5vw;
}

.topline {
  background-color: rgb(74, 180, 194);
  grid-column: 1/4;
  grid-row: 2/4;
  height: 1.5vw;
  margin-top:-1.5vw;
}

/***************************** first *****************************/

#first.container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10.4vw 1fr 10.4vw;
  margin-bottom: 28vw;
}

#first img{
  width: 100%;
  grid-row: 1/4;
  grid-column: 1/2;
}

#first .boxL{
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#first .boxR{
  grid-row: 3/4;
  grid-column: 1/2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.boxL h1{
  padding-right: 10vw;
}

.boxR h1{
  padding-left: 10vw;
}



/***************************** second *****************************/

#second.container{
  display: grid;
  grid-template-columns: 1fr 20vw;
  grid-template-rows: 8vw 80vh;
}

#second .boxL{
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#second .mainimgL img{
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

#second .mainimgL{
  grid-row: 2/3;
  grid-column: 1/2;
  margin-right:5vw;
}

#second .sideimgR img{
  width: 100%
}

#second .sideimgR {

   grid-row: 2 / 3;
   grid-column: 2 / 3;
}

#second .scroll{
  height: 80vh;
  overflow: scroll;
}

.boxL h2{
  padding-right: 10vw;
}

/***************************** third *****************************/

#third.container{
  display: grid;
  grid-template-columns: 20vw 1fr;
  grid-template-rows: 8vw 80vh;
}

#third .boxR{
  grid-row: 1/2;
  grid-column: 3/4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#third .mainimgR img{
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

#third .mainimgR{
  grid-row: 2/3;
  grid-column: 2/4;
  margin-left:5vw;
}

#third .sideimgL img{
  width: 100%
}

#third .sideimgL {

   grid-row: 2 / 3;
   grid-column: 1 / 2;
}

#third .scroll{
  height: 80vh;
  overflow: scroll;
}

.boxR h2{
  padding-left: 10vw;
}


/***************************** fourth ***************************/
#fourth.container{
  display: grid;
  grid-template-columns: 1fr 20vw;
  grid-template-rows: 8vw 80vh;
}

#fourth .boxL{
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#fourth .mainimgL img{
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

#fourth .mainimgL{
  grid-row: 2/3;
  grid-column: 1/2;
  margin-right:5vw;
}

#fourth .sideimgR img{
  width: 100%
}

#fourth .sideimgR {

   grid-row: 2 / 3;
   grid-column: 2 / 3;
}

#fourth .scroll{
  height: 80vh;
  overflow: scroll;
}

.boxL h2{
  padding-right: 10vw;
}

/***************************** fifth *****************************/

#fifth.container{
  display: grid;
  grid-template-columns: 20vw 1fr;
  grid-template-rows: 8vw 80vh;
}

#fifth .boxR{
  grid-row: 1/2;
  grid-column: 3/4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#fifth .mainimgR img{
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

#fifth .mainimgR{
  grid-row: 2/3;
  grid-column: 2/4;
  margin-left:5vw;
}

#fifth .sideimgL img{
  width: 100%
}

#fifth .sideimgL {

   grid-row: 2 / 3;
   grid-column: 1 / 2;
}

#fifth .scroll{
  height: 80vh;
  overflow: scroll;
}

.boxR h2{
  padding-left: 10vw;
}

/***************************** sixth *****************************/

#sixth.container{
  display: grid;
  grid-template-columns: 1fr 20vw;
  grid-template-rows: 8vw 80vh;
}

#sixth .boxL{
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#sixth .mainimgL img{
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

#sixth .mainimgL{
  grid-row: 2/3;
  grid-column: 1/2;
  margin-right:5vw;
}

#sixth .sideimgR img{
  width: 100%
}

#sixth .sideimgR {

   grid-row: 2 / 3;
   grid-column: 2 / 3;
}

#sixth .scroll{
  height: 80vh;
  overflow: scroll;
}

.boxL h2{
  padding-right: 10vw;
}




/***************************** other *****************************/

#footer.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 30vw;
}

.footerbox1{
  grid-column: 1/4;
  background-color: rgba(74, 180, 194, 0.5);
  height: 100%;
  padding-top: 1.5vw;
}

.footerbox2{
  grid-column: 1/4;
  background-color: rgb(74, 180, 194);
  height: 100%;
}

#footer .text1{
  grid-column:1/2;
  padding: 5vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#footer .text2{
  grid-column:2/3;
  padding: 5vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


/*
.boxL {
    position: absolute;
    background-color: rgba(74, 180, 194, 0.5);
    padding-top:1.5vw;
    padding-bottom:1.5vw;
    padding-right:1.5vw;
} 

.boxR {
  position: absolute;
  background-color: rgba(74, 180, 194, 0.5);
  padding-top:1.5vw;
  padding-bottom:1.5vw;
  padding-left:1.5vw;
} 

.container {
    position: relative;
    width:100%;
    height: auto;
    margin-bottom: 0vw;
  }

  .container img{
    width:100%;
    height: auto;

  }

  .mainimgL {
    width:75%;
    height: auto;
    left:0;
  }

  .sideimgR {
    position:absolute;
    width:20%;
    height: auto;
    top:0;
    right:0px;
  }

  .mainimgR {
    margin-left: auto;
    width: 75%;
    height: auto;
    right: 0;
  }

  .sideimgL {
   position:absolute;
    width:20%;
    height: auto;
    top:0;

  }

  .title1{
    top: 2%;
    left: 0;
    height: 2px; 
    width: 60%;

  }

  .title2{
    bottom: 0px;
    right: 0px;
    width: 60%;
    text-align: right;

  }

  .title3{
    top:0px;
    left: 0;
    width: 60%;
  }

  .title4{
    top:0px;
    right: 0;
    width: 60%
  }
  */

